@use "../../scss/colors/sky.scss" as sky;
@use "../../scss/mixins.scss" as mixin;

.user-container {
  width: 85vw;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  border-radius: 5px;

  background-color: sky.$c0;

  .uc-divisor {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 6rem;
    margin: 0 auto;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @include mixin.border(border-bottom, sky.$c10);

    background-color: sky.$c8;
  }

  .uc-img {
    z-index: 9999;

    @include mixin.flex-center;

    img {
      width: 7rem;
      border-radius: 50%;
      z-index: 9999;
    }
  }

  .uc-info {
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-align: center;

    .uci-name {
      margin-bottom: 1rem;

      font-weight: bold;
      font-size: 1.3rem;
    }

    .uci-location {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      div:last-child {
        color: gray;
      }
    }
    
    .uci-contact {
      margin-top: 1rem;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .ucic-cell, .ucic-phone, .ucic-email {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
      }
    }
  }
}